// @font-face


@font-face {
  src: url('https://fonts.googleapis.com/css?family=Amatic+SC')
// font-family: 'Amatic SC', cursive; to call

}
// font-family: 'Amatic SC', cursive;

//Breakpoints

$small: 525px;
$large: 788px;
$xlarge: 1050px;
