.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content:  space-around;
  margin: 10px 10%;
}

#myImages {
  padding-left: 0;
  list-style: none;
}

img {
  height: 250px;
  width: 250px;
  @include mq($small) {
  height: 170px;
  width: 170px;
padding: 20px;}
}



.lightbox img {
  padding: 0;
}

.lightbox .lb-image {
  border: none;
}

.lb-outerContainer {
  background-color: none;
}

.lb-data .lb-details {
margin-left: 3em;
margin-right: auto;
line-height: 1.5em;
text-align: center;
}


.lb-dataContainer {
padding-top: 30px;
}

.lb-data .lb-close {
  position: fixed;
    top: 50px;
    right: 50px;
}
