.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content:  space-around;
  margin: 10px 10%;
    list-style: none;
}

#myImages {
  padding-left: 0;
}

img {
  height: 170px;
  width: 170px;
padding: 20px;
}



.lightbox img {
  padding: 0;
}

.lightbox .lb-image {
  border: none;
}

.lb-outerContainer {
  background-color: none;
}

.lb-data .lb-details {
margin-left: 4em;
margin-right: 4em;
line-height: 1.5em;
text-align: center;
}


.lb-dataContainer {
padding-top: 30px;
}

.lb-data .lb-close {
  display: none;
}
