.search-bar {
  display: flex;
margin: auto;
  border-style: solid;

  border-color: rgba(213,213,213,.8);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 35%;
}
