#searchBar {
display: flex;
margin: auto;
  border-style: solid;
  border-color: rgba(213,213,213,.8);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  width: 50%;
@include mq($small){
  margin: auto;
  margin-top: 20px;
}
@include mq($large){
  width: 50%;
margin-left: 22%;
}
@include mq($xlarge){
  width: 35%;
  margin: auto;
}
}
